<div class="center hero-unit">
	<h1>Welcome to Cal Triathlon</h1>
	<h2>
		This is the home page for the University of California Triathlon team. Check us out on <a href="http://twitter.com/CalTriathlon">twitter</a>.
	</h2>

	<%= link_to "Sign in!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

 